<div data-controller="search-bar"  >
    <div class="search-box">
        <div class ="relative flex flex-row-reverse">
            <input type="text" 
                placeholder="Search Foods"
                data-target="search-bar.input" 
                data-action="keyup->search-bar#change focus->search-bar#change blur->search-bar#hide"
                class="w-48 md:w-full shadow appearance-none border border-gray-400 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                >
            <div class="absolute p-2 bg-gray-100 mt-10 w-full border border-gray-400 z-10 bg-white no-show overflow-y-scroll popup-height" data-target="search-bar.listOfFoods">
              <%= render 'search/term' %>
            </div>
        </div>
    </div>
</div>