<a href="/tags/<%= tag.name %>"
   data-value="<%= tag.name %>"
   class="text-sm pl-2 mt-1 pr-2 py-1 bg-purple-500 text-purple-100 rounded mt-1 tag-top cursor-pointer hover:bg-purple-800 text-center inline-block mr-1 <%= defined?(full) ? 'w-full' : ''%>" >
   <%= tag.name %>
 </a>