 <div class="relative">
  <div class="hidden md:inline-block bg-gray-100 px-3 py-3 mt-5 ml-1 mr-0 shadow-lg rounded w-32  -ml-36 fixed">
    Tags
    <div>
      <% Tag.where.not(tag_type: ['mineral', 'vitamin']).order(name: :asc).each do |tag| %>
        <%= render 'components/tag', {tag: tag, full: true} %>

      <% end %>
    </div>
  </div>
</div>