  <div class=" md:w-48 md:fixed" >
    <div class="">  
      <div class=" px-4 py-3 mt-1 md:mt-5 shadow-lg rounded md:mx-2 md:w-48 md:mr-0 sans stats-info">NutrientStats is a open site for others to join an spread the value of Nutrient Density</div>
        <div class="hidden md:inline-block bg-white px-4 py-4 mt-1 md:mt-3 shadow-lg rounded md:mx-2 md:w-48 md:mr-0 sans">
          <h3>Latest News</h3>
          <div>
            <div>3/24/2021</div>
          </div>
          We are officially launching NutrientStats.com on April 2nd, 2021. We truly hope this will help others to use the data we have on nutrition in a way to better themselves.<br><br>The past 20 years has seen an explosion of studies on nutrition and our goal is to present them in a helpful way! We hope to add a lot of features soon so stay tuned!
        </div>
      </div>
  </div>