<div data-controller="warning">
  <div class=" fixed w-full bg-purple-100 border-t border-gray-400 shadow " style="bottom: 0" data-target="warning.box">
    <div class=" app-container mx-auto  text-purple-800 w-full text-white p-4 pl-6 flex" >
      <div class="text-center w-3/4">
          Warning: This is not nutritional
          advice. All this is put together by non-medical professionals to try to help one another. Please check with your
          doctor before making any dietary changes.
      </div>

      <div class="m-auto flex justify-center">
          <div class=" bg-purple-500 text-white px-3 py-1 rounded mt-2 hover:bg-purple-600 cursor-pointer" data-action="click->warning#agree" >I Agree</div>
      </div>
    </div>
  </div>
</div>