<div class="md:flex">
  <%= render "sidebar" %>
  <div class="mb-40 ">
    <div>
      <div class="mt-5 ml-5 -mb-10 font-bold inline-block border-black cursor-pointer   border-b ">Latest Facts</div>
      <div class="mt-5 ml-5 -mb-10 font-bold inline-block border-black cursor-pointer  hover:text-purple-800 ">All Tags</div>
    </div>

      <div class="">
        <div>
          <% Fact.includes([:foods, :food_facts]).left_outer_joins(:foods).where.not( foods: { id: nil }).order(created_at: :desc).limit(10).each do |fact| %>
            <%= render 'fact_display', { fact: fact } %>

          <% end %>
        </div>
      </div>
    </div>
    <%= render 'right_sidebar'%>

</div>