/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body { 
  font-family: 'Rubik' !important;
  background: #f9f9f9;
}


.tag { 
  padding: 5px;
  background-color: #8ea7af;
  color: #fff;
  margin-right: 5px;
  cursor: pointer;
  width: 200px;
}

.flex { 
    display: flex;
}

.hidden { 
  /*display: none;*/
}

.popup { 
  position: absolute;
}

.popup-item { 
  text-align: center;
  padding: 5px;
  background: #f7f7f7;
  border: 1px solid #c7c7c7;
  cursor: pointer;
}

.popup-item:hover { 
  background: #d8dafc;
}

.crazy-table table { 
  width: 100%  ;

}

.crazy-table  th { 
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  --tw-shadow: 0 0 #0000;
  color: #4b5563;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #e5e7eb;
}

.crazy-table  td { 
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  --tw-shadow: 0 0 #0000;
  color: rgba(75,85,99,var(--tw-text-opacity));
  line-height: 1.5;
  background-color: #fff;
  border-bottom: 1px solid rgb(226 225 225);
}

.crazy-table  tr { 
  border-left: 1px solid rgb(226 225 225);
  border-right: 1px solid rgb(226 225 225);
}



input,select,textarea { 
  padding: 5px;
  border: 1px solid #dedede;
  border-radius: 2px;
}

.logo { 
  color: white;
}

.button { 
  padding: 5px;
    margin-top: 2px;
    background: #63bb8a;
    display: inline-block;
    color: #fff;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.sstable { 

}

.formulaActive {
  border: 5px solid #ee209f
}

.food-picker {
  width: 726px;
  overflow-x: scroll;
  height: 500px;
  padding: 9px;
  background: #000;
}

.app-container {
  max-width: 1124px !important;
}

.stub {
  background: #645d9a;
  display: inline-block;
  padding: 8px;
  border-radius: 30px;
  line-height: 11px;
  color: #fff;
}

.food-title {
    padding-left: 11px;
  padding-right: 17px;
  color: #01a015;
  border-left: 3px solid #01a015;
}